<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>入札参加資格登録業者</h1>

<% @corps.each do |corp| %>
  <div class="entry">
    <%= corp.corp_no %>
    <h3><<%= corp.corp_name %>/h3>
    <%= corp.corp_add %>
  </div>
<% end %>
